
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Desafio-Dev</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
      </ul>

      <form class="form-inline has-search-right">

            <div *ngIf="true; else elseBlock">
             <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Olá, Joaquim!
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" routerLink="/home">Home</a>
                  <a class="dropdown-item" routerLink="/alterar-senha">Alterar a Senha</a>
                  <a class="dropdown-item" routerLink="/login">Sair</a>
                </div>
              </li>
            </ul>
            </div>
            <ng-template #elseBlock>
              <div class="nome-usuario"><a href="login.php">Entrar</a></div>
            </ng-template>

      </form>

    </div>
  </div>
</nav>
<!-- fim navbar -->
